h1 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* text-align: center; */
  display: inline;
}

.Rdate {
  display: inline;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* background-color: darkslategrey; */
  /* color: white; */
  font-size: 20px;
  margin-left: 15px;
  /* width: 180px;
  height: 30px; */
}

.example-card {
  max-width: 800px;
  text-align: center;
  margin-left: 15%
}

/* ngb-rating {
  .sr-only {
    display: none;
  }
} */

img{
  max-width: 500px;
  max-height: 500px
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  color: black !important;

}
